# Ignore all files in the node_modules directory
node_modules/

# Ignore all files with the .DS_Store extension
*.DS_Store

# Ignore all files that end with .log
*.log

# Ignore all files that end with .tmp
*.tmp

# Ignore all files that end with .swp
*.swp

# Ignore all files in the cache directory
cache/

# Ignore all files in the tmp directory
tmp/